{% extends 'main/base.html' %}
{% load static %}

{% block content %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="{% static 'img/header-bg.jpg' %}">
				<div class="overlay-bg overlay"></div>
				<div class="container">
					<div class="row fullscreen">
						<div class="banner-content d-flex align-items-center col-lg-12 col-md-12">
							<h1>
								{{ latest_post.title }}								
							</h1>
						</div>
						<div class="col-lg-4 col-md-12">
								<a href="{{ latest_post.get_absolute_url }}"><button class="nw-btn primary-btn">read<span class="lnr lnr-arrow-right"></span></button></a>
						</div>	
						<div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
							<div class="col-lg-6 flex-row d-flex meta-left no-padding">
								<p><span class="lnr lnr-eye"></span> {{ latest_post.get_view_count }} views</p>
								<p><span class="lnr lnr-bubble"></span> {{ latest_post.get_comment_count }} Comments</p>
							</div>
							<div class="col-lg-6 flex-row d-flex meta-right no-padding justify-content-end">
								<div class="user-meta">
									{% if latest_post.author %}
									<h4 class="text-white">{{ latest_post.author }}</h4>
									{% else %}
									<h4 class="text-white">Oluwakayode A.</h4>
									{% endif %}
									<p>{{ latest_post.time_stamp }}</p>
								</div>
								<img class="img-fluid user-img" src="img/user.jpg" alt="">
							</div>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	


			<!-- Start latest posts Area -->
			<section class="category-area section-gap" id="news">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Check out the Latest Posts</h1>
							</div>
						</div>
					</div>						
					<div class="active-cat-carusel">
						{% for post in latest_3 %}
						<div class="item single-cat">
							<img src="{{ post.image.url }}" alt="" width="360" height="220">
							<p class="date">{{ post.time_stamp | date:'d M Y' }}</p>
							<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
						</div>				
						{% endfor %}			
					</div>												
				</div>	
			</section>
			<!-- End latest posts Area -->
			
			<!-- Start Featured Area -->
			{% if featured %}
			<section class="travel-area section-gap" id="featured">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Featured Posts</h1>
							</div>
						</div>
					</div>						
					<div class="row">
						{% for post in featured %}
						<div class="col-lg-6 travel-left">
							<div class="single-travel media pb-70">
							  <img class="img-fluid d-flex  mr-3" src="{{ post.image.url }}" alt="" width="195" height="180">
							  <div class="dates">
							  	<span>{{ post.time_stamp | date:'d' }}</span>
							  	<p>{{ post.time_stamp | date:'M' }}</p>
							  </div>
							  <div class="media-body align-self-center">
							    <h4 class="mt-0"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
							    <p>inappropriate behavior Lorem ipsum dolor sit amet, consectetur.</p>
								<div class="meta-bottom d-flex justify-content-between">
									<p><span class="lnr lnr-eye"></span> {{ post.get_view_count }} views</p>
									<p><span class="lnr lnr-bubble"></span> {{ post.get_comment_count }} Comment{{ post.get_comment_count | pluralize }}</p>
								</div>
							  </div>
							</div>				
						</div>
						{% endfor %}
					</div>
				</div>		
			</section>
			{% endif %}
			<!-- End featured Area -->
			
			<!-- Start Quote Area -->
			<section class="fashion-area section-gap" id="fashion">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">This Week's Quote</h1>
							</div>
							<div class="col-lg-12">
								<div>
									<blockquote class="mb-10">{{ quote.text }}</blockquote>
									<footer class="blockquote-footer">{{ quote.author }}</footer>
								</div>
							</div>
						</div>
					</div>					
					<div class="row">						
					</div>
				</div>	
			</section>
			<!-- End fashion Area -->
			
			<!-- Start team Area -->
			<!-- <section class="team-area section-gap" id="team">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">About Blogger Team</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center d-flex align-items-center">
						<div class="col-lg-6 team-left">
							<p>
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that.
							</p>
							<p>
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.
							</p>
						</div>
						<div class="col-lg-6 team-right d-flex justify-content-center">
							<div class="row active-team-carusel">
								<div class="single-team">
								    <div class="thumb">
								        <img class="img-fluid" src="img/team1.jpg" alt="">
								        <div class="align-items-center justify-content-center d-flex">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
								        </div>
								    </div>
								    <div class="meta-text mt-30 text-center">
									    <h4>Dora Walker</h4>
									    <p>Senior Core Developer</p>									    	
								    </div>
								</div>
								<div class="single-team">
								    <div class="thumb">
								        <img class="img-fluid" src="img/team2.jpg" alt="">
								        <div class="align-items-center justify-content-center d-flex">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
								        </div>
								    </div>
								    <div class="meta-text mt-30 text-center">
									    <h4>Lena Keller</h4>
									    <p>Creative Content Developer</p>			    	
								    </div>
								</div>													
							</div>
						</div>
					</div>
				</div>	
			</section> -->
			<!-- End team Area -->
{% endblock %}